# EDA

In [8]:
import pandas as pd

# Load the dataset
file_path = "../../pew_data/2023-24 RLS Public Use File Feb 19.csv"
df = pd.read_csv(file_path)

# Display basic info about the dataset
df.info()

# Show the first few rows
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36908 entries, 0 to 36907
Columns: 654 entries, P_SUID to REPWT_500
dtypes: float64(543), int64(111)
memory usage: 184.2 MB

,P_SUID,YEAR_FROM_CODATE,REGION,HAPPY,SATIS_A,SATIS_B,CHNG_A,CHNG_B,CHNG_C,DIVRELPOP,...,REPWT_491,REPWT_492,REPWT_493,REPWT_494,REPWT_495,REPWT_496,REPWT_497,REPWT_498,REPWT_499,REPWT_500
0,10000040,2023,NaN,1,2,2,2,3,2,2,...,8637.197077,3197.889015,6477.569705,5074.236372,0.000000,4227.254255,0.000000,3958.231750,7956.793610,3953.976457
1,10000060,2023,NaN,1,2,1,1,1,1,1,...,0.000000,12887.026798,0.000000,13146.109522,0.000000,9759.575389,8258.191691,9066.092538,6611.317293,0.000000
2,10000140,2024,NaN,2,2,3,3,1,1,1,...,3495.132770,0.000000,0.000000,0.000000,4218.483874,4109.599461,2023.737545,0.000000,4142.783211,0.000000
3,10000150,2023,NaN,3,3,3,2,1,2,3,...,0.000000,5543.688048,17339.292421,4533.605170,12847.018842,7761.160369,6794.489739,0.000000,6840.329912,5372.092714
4,10000160,2023,NaN,3,1,1,3,1,2,1,...,0.000000,2288.029759,3481.582023,6922.944804,2903.262530,0.000000,3124.679185,2674.370394,0.000000,5957.761219

In [9]:
# Get summary statistics for numerical columns
summary_stats = df.describe()

# Print summary statistics
print(summary_stats)

             P_SUID  YEAR_FROM_CODATE  REGION         HAPPY       SATIS_A  \
count  3.690800e+04      36908.000000     0.0  36908.000000  36908.000000
mean   1.108331e+07       2023.136474     NaN      2.254118      2.777149
std    6.217415e+05          0.343296     NaN      6.313749      4.797106
min    1.000004e+07       2023.000000     NaN      1.000000      1.000000
25%    1.054500e+07       2023.000000     NaN      1.000000      2.000000
50%    1.108167e+07       2023.000000     NaN      2.000000      3.000000
75%    1.162270e+07       2023.000000     NaN      2.000000      3.000000
max    1.215894e+07       2024.000000     NaN     99.000000     99.000000

            SATIS_B        CHNG_A        CHNG_B        CHNG_C     DIVRELPOP  \
count  36908.000000  36908.000000  36908.000000  36908.000000  36908.000000
mean       2.641379      3.233635      2.091146      3.283705      2.580443
std        5.922333     11.373302      8.227740     12.149102      9.267130
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        2.000000      1.000000      1.000000      1.000000      1.000000
50%        2.000000      2.000000      1.000000      2.000000      1.000000
75%        3.000000      3.000000      1.000000      2.000000      3.000000
max       99.000000     99.000000     99.000000     99.000000     99.000000

       ...      REPWT_491      REPWT_492      REPWT_493      REPWT_494  \
count  ...   36908.000000   36908.000000   36908.000000   36908.000000
mean   ...    6977.349734    6977.349734    6977.349734    6977.349734
std    ...   11844.582645   12151.711624   12093.304307   12177.399034
min    ...       0.000000       0.000000       0.000000       0.000000
25%    ...       0.000000       0.000000       0.000000       0.000000
50%    ...    3158.385886    2985.358675    3036.557372    2995.076536
75%    ...    8601.731848    8452.162688    8320.483739    8423.752232
max    ...  145686.641216  158637.927690  190660.309280  193652.551864

           REPWT_495      REPWT_496      REPWT_497      REPWT_498  \
count   36908.000000   36908.000000   36908.000000   36908.000000
mean     6977.349734    6977.349734    6977.349734    6977.349734
std     11970.494866   12206.006232   12109.314678   12068.799483
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%      3088.188383    3046.570197    3052.319042    2995.190911
75%      8545.438451    8400.571139    8375.089516    8591.563741
max    172254.946042  167268.180529  144550.573949  179590.348863

           REPWT_499      REPWT_500
count   36908.000000   36908.000000
mean     6977.349734    6977.349734
std     11785.775186   12097.219916
min         0.000000       0.000000
25%         0.000000       0.000000
50%      3109.182438    3033.228590
75%      8587.447842    8426.193748
max    159787.085865  149850.067673

[8 rows x 654 columns]

In [10]:
# Filter the dataset to exclude rows where the value is 99
df_exclude_refused = df[df != 99]

# Calculate summary statistics for the filtered DataFrame
summary_stats = df_exclude_refused.describe()

# Show the summary statistics
print(summary_stats)

             P_SUID  YEAR_FROM_CODATE  REGION         HAPPY       SATIS_A  \
count  3.690800e+04      36908.000000     0.0  36753.000000  36820.000000
mean   1.108331e+07       2023.136474     NaN      1.846108      2.547175
std    6.217415e+05          0.343296     NaN      0.625029      0.940777
min    1.000004e+07       2023.000000     NaN      1.000000      1.000000
25%    1.054500e+07       2023.000000     NaN      1.000000      2.000000
50%    1.108167e+07       2023.000000     NaN      2.000000      3.000000
75%    1.162270e+07       2023.000000     NaN      2.000000      3.000000
max    1.215894e+07       2024.000000     NaN      3.000000      5.000000

            SATIS_B        CHNG_A        CHNG_B        CHNG_C     DIVRELPOP  \
count  36773.000000  36397.000000  36646.000000  36325.000000  36573.000000
mean       2.287630      1.889112      1.398297      1.747502      1.697263
std        0.994966      0.772445      0.744772      0.752269      0.853320
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        2.000000      1.000000      1.000000      1.000000      1.000000
50%        2.000000      2.000000      1.000000      2.000000      1.000000
75%        3.000000      2.000000      1.000000      2.000000      3.000000
max        5.000000      3.000000      3.000000      3.000000      3.000000

       ...      REPWT_491      REPWT_492      REPWT_493      REPWT_494  \
count  ...   36908.000000   36908.000000   36908.000000   36908.000000
mean   ...    6977.349734    6977.349734    6977.349734    6977.349734
std    ...   11844.582645   12151.711624   12093.304307   12177.399034
min    ...       0.000000       0.000000       0.000000       0.000000
25%    ...       0.000000       0.000000       0.000000       0.000000
50%    ...    3158.385886    2985.358675    3036.557372    2995.076536
75%    ...    8601.731848    8452.162688    8320.483739    8423.752232
max    ...  145686.641216  158637.927690  190660.309280  193652.551864

           REPWT_495      REPWT_496      REPWT_497      REPWT_498  \
count   36908.000000   36908.000000   36908.000000   36908.000000
mean     6977.349734    6977.349734    6977.349734    6977.349734
std     11970.494866   12206.006232   12109.314678   12068.799483
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%      3088.188383    3046.570197    3052.319042    2995.190911
75%      8545.438451    8400.571139    8375.089516    8591.563741
max    172254.946042  167268.180529  144550.573949  179590.348863

           REPWT_499      REPWT_500
count   36908.000000   36908.000000
mean     6977.349734    6977.349734
std     11785.775186   12097.219916
min         0.000000       0.000000
25%         0.000000       0.000000
50%      3109.182438    3033.228590
75%      8587.447842    8426.193748
max    159787.085865  149850.067673

[8 rows x 654 columns]

In [12]:
# Calculate the mean for a specific column, excluding 99
mean_happiness = df['HAPPY'][df['HAPPY'] != 99].mean()

print(f"Mean happiness (excluding 99): {mean_happiness}")

Mean happiness (excluding 99): 1.8461078007237504