# EDA

In [3]:
import pandas as pd

# Load the dataset
file_path = "../../pew_data/2023-24 RLS Public Use File Feb 19.csv"
df = pd.read_csv(file_path)

# Display basic info about the dataset
df.info()

# Show the first few rows
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36908 entries, 0 to 36907
Columns: 654 entries, P_SUID to REPWT_500
dtypes: float64(543), int64(111)
memory usage: 184.2 MB

,P_SUID,YEAR_FROM_CODATE,REGION,HAPPY,SATIS_A,SATIS_B,CHNG_A,CHNG_B,CHNG_C,DIVRELPOP,...,REPWT_491,REPWT_492,REPWT_493,REPWT_494,REPWT_495,REPWT_496,REPWT_497,REPWT_498,REPWT_499,REPWT_500
0,10000040,2023,NaN,1,2,2,2,3,2,2,...,8637.197077,3197.889015,6477.569705,5074.236372,0.000000,4227.254255,0.000000,3958.231750,7956.793610,3953.976457
1,10000060,2023,NaN,1,2,1,1,1,1,1,...,0.000000,12887.026798,0.000000,13146.109522,0.000000,9759.575389,8258.191691,9066.092538,6611.317293,0.000000
2,10000140,2024,NaN,2,2,3,3,1,1,1,...,3495.132770,0.000000,0.000000,0.000000,4218.483874,4109.599461,2023.737545,0.000000,4142.783211,0.000000
3,10000150,2023,NaN,3,3,3,2,1,2,3,...,0.000000,5543.688048,17339.292421,4533.605170,12847.018842,7761.160369,6794.489739,0.000000,6840.329912,5372.092714
4,10000160,2023,NaN,3,1,1,3,1,2,1,...,0.000000,2288.029759,3481.582023,6922.944804,2903.262530,0.000000,3124.679185,2674.370394,0.000000,5957.761219